:root {
  --dark-background: #0b0c10f2;
  --dark-gray-blue: #1f2833;
  --light-gray: #c5c6c7;
  --bright-cyan: #66fcf1;
  --desaturated-cyan: #45a29e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-gray-blue);
  color: var(--light-gray);
}

h1 {
  color: var(--bright-cyan);
}

button {
  background-color: var(--light-gray);
}

.container{
  background-color: var(--dark-gray-blue);
  width: 1336px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1136px;
  }
  
}
@media screen and (max-width: 1136px) {
  .container {
    width: 936px;
  }
  
}
@media screen and (max-width: 936px) {
  .container {
    width: 786px;
  }
  
}
@media screen and (max-width: 736px) {
  .container {
    width: 536px;
  }
  
}
@media screen and (max-width: 536px) {
  .container {
    width: 336px;
  }
  
}
@media screen and (max-width: 336px) {
  .container {
    width: 136px;
  }
  
}